#include? "../../Flutter/ephemeral/Flutter-Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"

#include "../../Flutter/Flutter-Release.xcconfig"
#include "Warnings.xcconfig"

// Link C++ standard library for onnxruntime
OTHER_LDFLAGS = $(inherited) -lc++

// Build for Apple Silicon only
ARCHS = arm64
ONLY_ACTIVE_ARCH = NO
